.mainContainer{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}


.section-me{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 15px;
    margin: 50px 0px 100px 0px;
}
.section-me_containerImg{
    width:100%;
    align-self: center;
    justify-self: center;
    grid-row: 1/3;
    grid-column: 2/3;
    border-radius: 40px;
    box-shadow: var(--shadow);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-me_img{
    width: 100%;
    height: 100%;
    transition: box-shadow 0.5s;
}
body.dark .section-me_containerImg{
    box-shadow: var(--darkShadow);
}
.title-main{
    font-weight: bold;
    font-size: 56px;
}
.tittle-secondary{
    padding: 0px 10px;
    line-height: 35px;
    font-weight: 800;
    font-size: 25px;
}
.tittle-secondary::first-letter{
    font-size: 45px;
    float: left;
}



.section-abilities{
    display: grid;
    grid-template-columns: 5fr 3fr;
    column-gap: 10px;
    margin: 50px 0px;
}
.abilities-tech{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.abilities-tech__technologies{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.abilities-tech__item{
    display: block;
    margin: 5px 10px;
    width: 70px;
    height: 70px;
    mask-size: cover!important;
    background-color: var(--red);
}
.abilities-languages{
    justify-self: center;
    width: 100%;
}
.abilities-languages_item{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

@media(max-width: 1100px){
    .title-main{
        grid-column: 1/3;
    }
    .tittle-secondary{
        grid-column: 1/3;
        margin-top: 50px;
    }
    .section-me_containerImg{
        grid-column: 1/3;
        grid-row: 2/3;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 270px;
        align-items: flex-start;
        
    }
    .section-me_img{
        position: relative;
        width: 100%;
        height: auto;
        top: -230px;
    }
}
@media(max-width: 800px){
    .title-main{
        font-size: 50px;
    }
    .tittle-secondary{
        font-size: 24px;
    }
    .section-me{
        margin-top: 0;
    }
    .section-me_img{
        top: -100px;
    }
    .section-abilities{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}
@media(max-width: 480px){
    .section-me_img{
        top: 0;
    }
    .abilities-tech__technologies{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        align-items: center;
    }
    .abilities-tech__item{
        width: 52px;
        height: 52px;
    }
}