.circleload-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circleload-progress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 360px 360px;
    transition: 0.35s stroke-dashoffset;
    stroke-linecap: round;
    stroke: var(--red);
    filter: drop-shadow( var(--shadow) );
    -webkit-filter: drop-shadow( var(--shadow) );
}
.circleload-porcent {
    font-size: 15;
    position: absolute;
}