body {
  color: #474842;
  margin: 0;
  font-family: 'rubik', 'Dosis', 'Heebo', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  'rubik', 'Dosis', 'Heebo', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
hr{
  border: none;
  margin: 0;
  padding: 0;
}